
{% extends 'layout.twig' %}

{% block userCaption %}
    <div class="search right">
        <form action="" class="relative">
            <span class="icon-search search-icon"></span>
            <input type="text" placeholder="Buscar perfil...." class="input">
            <span class="close-icon icon-pen">X</span>  
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="img-welcome">
        <h4 class="center-text ">Sistema</h4>
        <h1 class="center-text">Registro de Ferfiles de Proyectos Finales de Grado</h1>
        <figure class="image relative left-welcome">
            <img src="images/umss.png" width="320" height="320" alt="Come Get It Bae Pharrell Williams">
        </figure>
    </div>

    <div class="text-welcome right">
        <h3>Sistema de Registro de Perfiles de Proyectos Finales de Grado</h3>
        <P class="line-height padding-top-bottom">wewewewewebSISS.umss.edu.bo le ofrece información amplia, rápida y totalmente actualizada sobre el 
        Sistema de Información Estudiantil de la Universidad Mayor de San Simón. La información que se presenta esta 
        destinada a las Autoridades Universitarias, Docentes, Estudiantes, Usuarios del SIS y Usuarios en General de las 
        distintas entidades Universitarias.
        El tipo de Información que se presenta esta relacionada con el SIS e incluye: Horarios, Planillas de Notas, 
        Pensum de Materias y Estadisticas (Indicadores) y todo tipo de información útil.        
        Cualquier sugerencia por favor haganosla llegar a traves de la página de sugerenciaswewewewe.</P>
    </div>
{% endblock %}

