<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/app.css">  
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="../css/app.css">  
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="../../css/app.css">  
    <link rel="stylesheet" href="../../normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de perfiles de grado</title>
</head>
<body>
    <header class="header relative border-bottom">
        <div class="logo">
            <div class="wrap center-block">
                <figure class="image isotipo left">
                    <img src="img/logoo.png" alt="Sistema RPPFG">
                </figure>
                <!-- <div class="user right">
                    <figure class="avatar round left">
                        <img src="img/avatares/leonidas.jpg" alt="" width="38" height="38">
                    </figure>
                    <span class="left username">
                        Masterofdisaster
                    </span>
                </div> -->
                
                {# <div class="search right">
                    <form action="" class="relative">
                        <span class="icon-search search-icon"></span>
                        <input type="text" placeholder="Buscar perfil...." class="input">
                        <span class="close-icon icon-pen">X</span>
                        
                    </form>
                </div> #}
                {% block userCaption %}{% endblock %}
            </div>
            
        </div>

        <a href="#" class="botton-menu icon-menu"></a>
        <nav class="menu">
            <ul class="list center-block wrap">
                <li class="item">
                    <a href="{{ '' | url }}">Inicio</a>
                </li>
                <li class="item">
                    <a href="{{ 'teacher/' | url }}">Docentes</a>
                </li>
                <li class="item">
                    <a href="{{ 'student/' | url }}">Estudiantes</a>
                </li>
                <li class="item">
                    <a href="#">Búsqueda de perfiles</a>
                </li>
                <li class="item">
                    <a href="#">Guía del trámite</a>
                </li>
            </ul>
        </nav>
        {# <div class="title">
            <span>
                Registro de perfiles
            </span>
        </div> #}
    </header>
    <section class="wrap-main small medium large">
        {% block content %}{% endblock %}
    </section>
<footer class="center-text padding">
    <p class="margin-top-bottom"><strong>SRPPFG</strong></p>
    <p>Universidad Mayor de San Simón 2018</p>
</footer>  
</body>
</html>